@font-face {
    font-family: 'AMX';
    src: url('AMX-Medium.woff2') format('woff2'),
        url('AMX-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

